<h1> Gross Analytics </h1>

<div id="chart_div">
</div>

<div id="region_sales_div">
</div>

<div id="top_salespeople_div">
</div>

<div id="year_to_year_div">
</div>

<div id="worst_categories_div">
</div>

<div id="popular_salesreasons_div">
</div>
