<h1> Between the Spreadsheets </h1>

<button type="button" class="btn btn-secondary"><%= link_to "Gross Analytics", gross_analytics_path %></button>
<button type="button" class="btn btn-info"><%= link_to "Store Search", store_search_path %></button>
<button type="button" class="btn btn-success">Submit New Analytics</button>
