<h1> Store Search </h1>

<%= form_tag("#", method: "get", class: "storeform") do %>
<%= select_tag "stores", options_from_collection_for_select(@stores, "id", "name") %>
<%= submit_tag %>
<% end %>

<div id="top_selling_products">
</div>
